# Ignore everything by default
*

# Allow directories so Git can traverse
!*/

# Keep this file
!.gitignore

# Keep Jupyter notebooks
!*.ipynb

# Explicitly ignore notebook checkpoints
.ipynb_checkpoints/
